<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atvidade 4</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' )}}">
</head>

<body>
    <!-- Estilizar as outas rotas e criar um menu com links para outras rotas (1, 2, 3) -->
    <div class=" container">
        <div class="menu">
            <ul>
                <li>
                    <a href="/atividade1">
                        Atividade 1 (Canvas)
                    </a>
                </li>

                <li>
                    <a href="/atividade2">
                        Atividade 2 (Webcam)
                    </a>
                </li>

                <li>
                    <a href="/atividade3">
                        Atividade 3 (Tabela)
                    </a>
                </li>

                <li>
                    <a href="/atividade5">
                        Atividade 5 (Curriculos)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>