<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atividade 3</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css' )}}">
</head>

<body>
    <div class="container">
        <div class="content">
            <div class="nav">
                <a href="/">Voltar</a>
            </div>

            <div class="table">
                <div class="tbody">
                    <div class="row">
                        <div class="column">ID</div>
                        <div class="column">Nome</div>
                        <div class="column">Sobrenome</div>
                        <div class="column">E-mail</div>
                        <div class="column">Acoes</div>
                    </div>
                </div>

                <div class="pagination">
                    <button id="prevPage" onclick="prevPage()">Anterior</button>
                    <button id="nextPage" onclick="nextPage()">Próximo</button>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='table.js' )}}"></script>
</body>

</html>